
<br />
<form action="/<TMPL_VAR SPECIES_URL>/<TMPL_VAR SCRIPT_NAME>/<TMPL_VAR MART_STATE_ID>" 
      name="settings" method="post" target="_self" 
      enctype="multipart/form-data">
<table align="center" width="700" cellspacing="0" cellpadding="0" border="1">
 <tr>
  <td valign="top" height="1" bgcolor="<TMPL_VAR VDARK_BG_COLOR>">
<!-- Top HTML -->
<TMPL_VAR TOP_BOX>
  </td>
  <td width="200" bgcolor="<TMPL_VAR VDARK_BG_COLOR>" valign="top" rowspan="2">
<!-- Status HTML -->
<TMPL_VAR STATUS_BOX>
  </td>
 </tr>
 <tr>
  <!-- Main panel -->
  <td width="500" height="100%" align="center" valign="top" bgcolor="<TMPL_VAR MAIN_BG_COLOR>">
<!-- Main HTML -->
<TMPL_VAR MAIN_BOX>
  </td>
  <!-- Main panel end -->
 </tr>
</table>

<!-- State form -->
<!--TMPL_VAR CURRENT_STATE-->
</form>

<!-- Arbitrary HTML to include at the end of the page -->
<TMPL_VAR SUFFIX_HTML>



